<div class="flex flex-col flex-auto w-full max-w-xs sm:max-w-5xl mx-auto">

    <div class="flex flex-col sm:flex-row items-center justify-between w-full max-w-xs sm:max-w-none ">

        <div class="flex flex-col flex-auto items-center bg-card shadow rounded-2xl overflow-hidden max-rac">
            <!-- Avatar & Info -->
            <div class="flex flex-col flex-auto w-full p-8 text-center">
                <div class="w-32 h-32 mx-auto rounded-full overflow-hidden">
                    <img class="w-full h-full object-cover"
                        src="./assets/images/logo/azure-solutions-architect-expert-600x600 (1).png">
                </div>
            </div>
            <!-- Email & Phone -->
            <div class="flex items-center w-full border-t divide-x">
                <a class="flex flex-auto items-center justify-center py-4 hover:bg-hover"
                    href="https://learn.microsoft.com/de-de/users/rubenacevedo-2993/transcript/735lya8qp2r5g4j?tab=credentials-tab"
                    target="_blank">

                    <span class="ml-2">View</span>
                </a>
            </div>
        </div>



        <div class="flex flex-col flex-auto items-center bg-card shadow rounded-2xl overflow-hidden max-rac">
            <!-- Avatar & Info -->
            <div class="flex flex-col flex-auto w-full p-8 text-center">
                <div class="w-32 h-32 mx-auto rounded-full overflow-hidden">
                    <img class="w-full h-full object-cover" src="./assets/images/logo/aws.png">
                </div>
            </div>
            <!-- Email & Phone -->
            <div class="flex items-center w-full border-t divide-x">
                <a class="flex flex-auto items-center justify-center py-4 hover:bg-hover"
                    href="https://www.credly.com/badges/175778e0-9ce2-4da3-a06c-2525da16b234/public_url"
                    target="_blank">
                    <span class="ml-2">View</span>
                </a>
            </div>
        </div>


        <div class="flex flex-col flex-auto items-center bg-card shadow rounded-2xl overflow-hidden max-rac">
            <!-- Avatar & Info -->
            <div class="flex flex-col flex-auto w-full p-8 text-center">
                <div class="w-32 h-32 mx-auto rounded-full overflow-hidden">
                    <img class="w-full h-full object-cover" src="./assets/images/logo/ckad.png">
                </div>
            </div>
            <!-- Email & Phone -->
            <div class="flex items-center w-full border-t divide-x">
                <a class="flex flex-auto items-center justify-center py-4 hover:bg-hover"
                    href="https://www.credly.com/badges/16725703-b32f-4d9e-b16d-c6d6b9522279/public_url"
                    target="_blank">
                    <span class="ml-2">View</span>
                </a>
            </div>
        </div>

    </div>
</div>

<div class="flex flex-col flex-auto w-full max-w-xs sm:max-w-5xl mx-auto">

    <div class="flex flex-col sm:flex-row items-center justify-between w-full max-w-xs sm:max-w-none ">

        <div class="flex flex-col flex-auto items-center bg-card shadow rounded-2xl overflow-hidden max-rac">
            <!-- Avatar & Info -->
            <div class="flex flex-col flex-auto w-full p-8 text-center">
                <div class="w-32 h-32 mx-auto rounded-full overflow-hidden">
                    <img class="w-full h-full object-cover"
                        src="./assets/images/logo/microsoft-certified-azure-administrator-associate.2 (2).png">
                </div>
            </div>
            <!-- Email & Phone -->
            <div class="flex items-center w-full border-t divide-x">
                <a class="flex flex-auto items-center justify-center py-4 hover:bg-hover"
                    href="https://learn.microsoft.com/de-de/users/rubenacevedo-2993/transcript/735lya8qp2r5g4j?tab=credentials-tab"
                    target="_blank">

                    <span class="ml-2">View</span>
                </a>
            </div>
        </div>



        <div class="flex flex-col flex-auto items-center bg-card shadow rounded-2xl overflow-hidden max-rac">
            <!-- Avatar & Info -->
            <div class="flex flex-col flex-auto w-full p-8 text-center">
                <div class="w-32 h-32 mx-auto rounded-full overflow-hidden">

                    <img class="w-full h-full object-cover" src="./assets/images/logo/git-lab.png">
                </div>
            </div>
            <!-- Email & Phone -->
            <div class="flex items-center w-full border-t divide-x">
                <a class="flex flex-auto items-center justify-center py-4 hover:bg-hover"
                    href="https://www.credly.com/badges/16725703-b32f-4d9e-b16d-c6d6b9522279/public_url"
                    target="_blank">

                    <span class="ml-2">View</span>
                </a>
            </div>
        </div>


        <div class="flex flex-col flex-auto items-center bg-card shadow rounded-2xl overflow-hidden max-rac">
            <!-- Avatar & Info -->
            <div class="flex flex-col flex-auto w-full p-8 text-center">
                <div class="w-32 h-32 mx-auto rounded-full overflow-hidden">
                    <img class="w-full h-full object-cover"
                        src="./assets/images/logo/kcna-kubernetes-and-cloud-native-associate.png">
                </div>
            </div>
            <!-- Email & Phone -->
            <div class="flex items-center w-full border-t divide-x">
                <a class="flex flex-auto items-center justify-center py-4 hover:bg-hover"
                    href="https://www.credly.com/badges/792cf577-be49-4e6c-9861-a8dceb45fa60/public_url"
                    target="_blank">

                    <span class="ml-2">View</span>
                </a>
            </div>
        </div>
    </div>
</div>
